<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
<p>user name: <%= @user.name %></p>
<img src="<%= @user.image_url %>">

<table>
	<tr>
		<th>name</th>
		<th>detail</th>
		<th>start_time</th>
		<th>end_time</th>
		<th>image_url</th>
	</tr>
	<% @events.each do |event| %>
		<tr>
			<td><%= event.event_name %></td>
			<td><%= event.detail %></td>
			<td><%= event.start_time %></td>
			<td><%= event.end_time %></td>
			<td><img src="<%= event.image_url %>"></td>
		</tr>
	<% end %>
</table>
</body>
</html>