<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
<form method="post" action="/event/<%= @event.id %>/edit" enctype='multipart/form-data'>
    <table>
    	<tr>
    		<th>name</th>
    		<td><input type="text" name='name' value='<%= @event.event_name %>'></td>
    	</tr>
    	<tr>
    	<th>detail</th>
    		<td><input type="text" name='detail' value='<%= @event.detail %>'></td>
    	</tr>
    	<tr>
    		<th>start_time</th>
    		<td><input type="datetime-local" name="start_time" value='<%= @event.start_time %>'></td>
    	</tr>
    	<tr>
    		<th>end_time</th>
    		<td><input type="datetime-local" name="end_time" value='<%= @event.end_time %>'></td>
    	</tr>
    	<tr>
    		<th>image_url</th>    		
    		<td><input type="file" name='file'></td>
    	</tr>
    </table>
    <input type="submit" value='jastin'>
</form>
</body>
</html>
