<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../search.css">
    <!--<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet" />-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script type="text/javascript" src="//webfont.fontplus.jp/accessor/script/fontplus.js?a5JzW-hQzyA%3D&aa=1&ab=1&ab=1" charset="utf-8"></script>
</head>
<body>
  <header class="header-index" id="top">
       <div class="before_login">
        <div class="logo">
            <a href="<%= session[:user] ? "/user/#{session[:user]}" : "/" %>">
                <img src="../oideya_logo.png" height="35">
            </a>
        </div>
        
      <% if @user %>
          <div class="login"></div>
        <% end %>
      </div>
  </header id="top">
    <div class="container">
        <section class="title">「<%= @words.join(" ") %>」の検索結果<%= @events.length %>件</section>
        <section class="main">
            <div class="search">
            <form action="/search" method="get" class="form">
              <input type="text" name="keyword" value="" placeholder="キーワード">
              <button type="submit" class="submit">
            </form>
            </div>
                <% @events.each do |event| %>
               		<a href="/event/<%= event.id %>">
    		            <article class="contents">
    		                <div class="date">
    		                    <p class="month"><%= event.start_time.to_s.slice(5,2).to_i %>月</p>
    		                    <p class="border"></p>
    		                    <p class="day"><%= event.start_time.to_s.slice(8,2).to_i %></p>
    		                </div>
    		                <img class="contents-thumbnail" src="<%= event.image_url %>" alt="" >
    		                <div class="contents-headline">
    			                <h3><%= event.event_name %></h3>
    			                <p class="contents-text"><%= event.detail %></p>
    		                </div>
    		            </article>
    	            </a>
                <% end %>
        </section>
    </div>
    <footer>
        <a href="#top"><img src="../Top.png" alt=""></a>
        <p></p>
    </footer>
    <% if @user %>
      <style> 
      .login {
          height: 35px;
          width: 35px;
          border-radius: 50px;
          margin-right: 11.5px;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("<%= @user.image_url %>");
       }
      </style>
    <% end %>
</body>
</html>
